{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}CRM Dashboard{% endblock %}</title>
    <link rel="stylesheet" href="{% static 'css/global.css' %}">
  </head>
  <body>
      {% if user.is_authenticated %}
    <!-- Sidebar -->

        {%  include "crm/parts/sidebar.html" %}


    <!-- Main Content -->
    <div class="main-content">
      <div class="topbar">
        <div class="topbar-title">
          <h1>{% block page_title %}Dashboard{% endblock %}</h1>
        </div>
      <div class="company-dropdown-div">
        {% include "crm/parts/company_dropdown.html" %}
      </div>
        <button class="menu-toggle" id="menuToggle" onclick="toggleSidebar()">☰</button>
      </div>

      <div class="content">
        {% block content %}{% endblock %}
      </div>
    </div>
   {% endif %}

      {% block login_form %}{% endblock %}


  </body>
</html>
